<div class="row">
    <div class="col-12">
        <div class="section__head d-flex justify-content-center">
            <h1>Find A Perfect Space</h1>
        </div>
        <div class="tab__view tab__rounded text-center">
            <ul>
                <li class="channels__1">
                    <a href="javascript:;">
                        <span><i class="fa fa-camera"></i></span>
                        Film
                    </a>
                </li>
                <li class="channels__2">
                    <a href="javascript:;">
                        <span><i class="fa fa-camera"></i></span>
                        Photography
                    </a>
                </li>
                <li class="channels__3">
                    <a href="javascript:;">
                        <span><i class="fa fa-camera"></i></span>
                        Video
                    </a>
                </li>
                <li class="channels__4">
                    <a href="javascript:;">
                        <span><i class="fa fa-camera"></i></span>
                        Events
                    </a>
                </li>
                <li class="channels__5">
                    <a href="javascript:;">
                        <span><i class="fa fa-camera"></i></span>
                        Productions
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
