{% set network = _Network.getNetworkData() %}
<div class='col-12 col-md-6 col-lg-3'>
    <div class="card__view-content channels__1">
        <a href="javascript:void(0)">
            <div class="favorite">
                <i class="fa fa-heart-o"></i>
            </div>
            <figure class="image-covered" style="background-image: url('{{network.templatePath}}/static/images/demo.png')"></figure>
            <h3>Hunter's Place</h3>
            <p>Australia's 567 Miles</p>
        </a>
    </div>
</div>