<div class="contact">
    <div class="page__section-head text-center">
        <h1>Contact Us</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="contact__details">
                    <h3>Please fill out the form and we'll get back to you.</h3>
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="contact__details-content">
                                <ul>
                                    <li>
                                        <span class="head">Name</span>
                                        <span>Mayank</span>
                                    </li>
                                    <li>
                                        <span class="head">Phone</span>
                                        <span>+91 989 975 8007</span>
                                    </li>
                                    <li>
                                        <span class="head">Address</span>
                                        <span>D-Mall, NSP, Delhi, New Delhi, India,110035 </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="article__form no-bg text-center">
                                <div class="owner__form">
                                    <h4>Get in touch with us.</h4>
                                    <div class="form-group">
                                        <label class="sr-only">Name*</label>
                                        <input class="form-control" type="text" placeholder="Name*" />
                                    </div>

                                    <div class="form-group">
                                        <label class="sr-only">Email*</label>
                                        <input class="form-control" type="email" placeholder="Email*" />
                                    </div>

                                    <div class="form-group">
                                        <label class="sr-only">Phone Number*</label>
                                        <input class="form-control" type="number" placeholder="Phone Number*" />
                                    </div>
                                    <button class="button button-grey button-block button-radius" type="submit">Inquire Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>