
<div class="error">
    <div class="error__content">
        <span class="error__content-image">
            <img src="{{templatePath}}/static/images/icons/error.svg" alt="Error" />
        </span>
        <h3 class="head">404</h3>
        <p>Sorry, we couldnt find what you were looking for</p>
        <a href="" class="button search__button button-grey button-radius">Back to Homepage</a>
    </div>
</div>