{{ set(this, 'title', name) }}
{{ set(this, 'params', {search: true})  }}
{% set network = _Network.getNetworkData() %}
<div class="error">
    <div class="error__content">
        <span class="error__content-image">
            <img src="{{network.templatePath}}/static/images/icons/error.svg" alt="Error" />
        </span>
        <h3 class="head">404</h3>
        <p>{{_AppHelper.translator('app', message)}}</p>
        <a href="" class="button search__button button-grey button-radius">Back to Homepage</a>
    </div>
</div>