{% set templatePath = network.templatePath %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="search">
                <div class="search__heading">
                    12 Search results for:
                    <span class="search__query"> <i>abc</i></span>
                </div>
                <div class="search__error">
                    <span class="search__error-image">
                        <img src="{{templatePath}}/static/images/icons/error.svg" alt="Error" />
                    </span>
                    <h3 class="head">404</h3>
                    <p>Sorry, we couldnt find what you were looking for</p>
                    <a href="" class="button search__button button-grey button-radius">Back to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>