/* Page Footer section
================================ */
.footer {
    background: $baseColor none repeat scroll 0 0;
    @include padding(80px 0 60px);
    &__content{
        color: $white;
        &-logo {
            max-width: 280px;
            @media #{$media-ipadPortrait} {
                margin: 0 auto;
                margin-bottom: 20px;
            }
            @media #{$media-ipadSmall} {
                margin-bottom: 5px;
            }
        }
        &-listing {
            @media #{$media-ipadSmall} {
                text-align: center;  
            }
            h3 {
                font-weight: $weightBold;
                margin-bottom: 10px;
                @media #{$media-ipadSmall} {
                    margin-top: 15px;
                }
            }
            ul li {
                margin-bottom: 5px;
                a {
                    font-weight: $weightLight;
                }
            }
            p {
                font-weight: $weightLight;
                margin-bottom: 5px;
            }
            &.social {
                @media #{$media-ipadPortrait} {
                    margin-top: 15px;
                    text-align: center;
                }
                ul li {
                    display: inline-block;
                    + li {
                        margin-left: 10px; 
                    }
                    a {
                        display: block;
                        @include border-radius(4px);
                        background: $defaultbg none repeat scroll 0 0;
                        @include size(25px);
                        text-align: center;
                        i {
                            line-height: 25px;
                        }
                        &:hover, &:focus {
                            background: darken($defaultbg, 8%) none repeat scroll 0 0;
                        }
                    }
                }
            }
        }
    }
}