/* articles section
================================ */
.button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    @include padding(8px 20px);
    display: inline-block;
    border: 1px solid $transparent;
    &-block {
        width: $viewportSize;
        display: block;
    }
    &-rounded {
        @include border-radius(25px);
    }
    &-radius {
        @include border-radius(4px); 
    }
    &-grey {
        background: $black none repeat scroll 0 0;
        color: $white;
        border-color: $black;
        &:hover, &:focus {
            background: lighten($black, 8%) none repeat scroll 0 0; 
        }
    }
}