{% set user = '' %}
{% if not _User.isGuest()%}
    {% set user = _User.getUser()%}
{% endif %}
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="header__section d-flex align-items-center">
                    <div class="header__section-logo">
                        {% set logo = network.templatePath~'/static/images/logo.png'%}
                        {% set logoUrl = network.networkLogoLinkUrl %}
                        {% if network.logoMedia | length > 0 %}
                            {% set logo = _Media.getMediaUrl(network.logoMedia, 177, 65, {'crop': 'limit'} )%}
                        {% endif %}
                        <a href="{{logoUrl}}">
                            <img src="{{logo}}" alt="Logo" />
                        </a>
                    </div>
                    <div class="header__section-navigation d-flex justify-content-end">
                        <div class="navigation__main d-flex align-items-center">
                            <ul>
                                <li><a href="javascript:;">List A Space</a></li>
                                <li><a href="javascript:;">Find A Space</a></li>
                                <li><a href="javascript:;">Your Spaces</a></li>
                                <li><a href="javascript:;">Contact</a></li>
                            </ul>
                        </div>
                        <div class="navigation__user">
                            <div class="open-menu">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="item-1"></span>
                                <span class="item-2"></span>
                                <span class="item-3"></span>
                            </div>
                            {% if _User.isGuest() %}
                                {% if not _Network.isNetworkClosed(network)%}
                                    <ul class="navigation__user-login">
                                        <li><a class="header__login__link header__login__link--signup sign-up__link" href="javascript:;">Sign Up</a></li>
                                        <li><a class="header__login__link" href="javascript:;">Login</a></li>
                                    </ul>
                                {% endif %}
                            {% else %}
                                {% set profileImage = ''%}
                                {% set profileImage = _Media.getMediaUrl(user.profileMedia, 80, 80, {radius: 'max', gravity: 'face', 'crop': 'thumb', 'type' : 'user'}) %}
                                <div class="navigation__user-loginProfile">
                                    <div class="navigation__user-loginProfile-image image-covered rounded-circle" data-toggle="dropdown" style="background-image: url('dist/images/avtar.png');"></div>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="{{_AppHelper.getLogoffUrl()}}">Something else here</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Begin Responsive Profile -->
    <div class="responsive-standalone">
        <a href="javascript:;" class="responsive-standalone-close"><span class="close-text">Close</span><span class="fa fa-close" aria-hidden="true"></span></a>
        <div class="standalone-menu"></div>
    </div>
    <div class="responsive-standalone-overlay"></div>
    <!-- //End Responsive Profile -->
</header>